{
  // @fixme replace with `@readme/eslint-config/testing/vitest`
  // "extends": "@readme/eslint-config/testing-mocha"
  "rules": {
    "func-names": "off",
    "no-unused-expressions": "off",
  },
}
