{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/typescript"],
  "root": true,
  "rules": {
    "class-methods-use-this": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
  },
}
